absl-py
alabaster
antlr4-python3-runtime
anyio
apex
appdirs
argon2-cffi
asgiref
attrs
audioread
Babel
black
bleach
brotlipy
cachetools
certifi
cloudpickle
codecov
coverage
cycler
Cython
debugpy
defusedxml
Django
docutils
einops
entrypoints
expecttest
fastjsonschema
flake8
Flask
ftfy
future
fvcore
glob2
google-auth
google-auth-oauthlib
grpcio
gunicorn
h11
horovod
httptools
hydra-core
hypothesis
imagesize
importlib-metadata
importlib-resources
iniconfig
iopath
ipykernel
ipython-genutils
itsdangerous
Jinja2
joblib
json5
jsonschema
jupyter-server
jupyter-tensorboard
jupyter_client
jupyter_core
jupyterlab
jupyterlab-pygments
jupyterlab_server
jupytext
kiwisolver
librosa
llvmlite
lmdb
Markdown
markdown-it-py
matplotlib
mccabe
mdit-py-plugins
mistune
mypy-extensions
nbclassic
nbclient
nbconvert
nbformat
nest-asyncio
networkx
ninja
nltk
notebook
notebook_shim
nvidia-cublas-cu11
nvidia-cuda-nvrtc-cu11
nvidia-cuda-runtime-cu11
nvidia-cudnn-cu11
nvidia-dali-cuda110
nvidia-pyindex
oauthlib
omegaconf
packaging
pandas
pandocfilters
pathspec
pkgutil_resolve_name
platformdirs
pluggy
polygraphy
pooch
portalocker
prettytable
prometheus-client
protobuf
py
pyasn1
pyasn1-modules
pybind11
pycodestyle
pydot
pyflakes
pyparsing
pyrsistent
pytest
pytest-cov
pytest-pythonpath
python-dateutil
python-dotenv
python-hostlist
python-nvd3
python-slugify
PyYAML
pyzmq
regex
requests
requests-oauthlib
resampy
rsa
sacremoses
scikit-learn
seaborn
Send2Trash
sniffio
snowballstemmer
SoundFile
Sphinx
sphinx-glpi-theme
sphinx-rtd-theme
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
sqlparse
submitit
tabulate
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorboardX
termcolor
terminado
testpath
text-unidecode
threadpoolctl
timm
tinycss2
toml
tomli
torch
torchaudio
torchvision
tornado
traitlets
triton
tzdata
uvicorn
uvloop
watchgod
wcwidth
webencodings
websocket-client
websockets
Werkzeug
whitenoise
yacs
zipp